<div class="row">
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group" style="width: 90%;">
                <label for="searchString"> Введите строку поиска </label>
                <input type="text" style="width: 70%;" class="form-control" id="searchString" placeholder="Иванов, ivanov@mail.com, 89101234566, в342ас197, ivanovskype..."
                        ng-model="state.searchString">
            </div>
            <button type="submit" class="btn btn-default" ng-click="fireSearch()">Поиск</button>
        </form>
    </div>
</div>

<!-- RESULTS -->
<!--<br>-->
<!--<br>-->
<!--<div class="row">-->
    <!--<div class="col-xs-12">-->
        <!--<div ng-repeat="for item in items">-->
            <!--<div ng-include="'/page/public/searchResultItem.html'"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->