<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="no();">&times;</button>
    <h3>{{confirmation.header}}</h3>
</div>

<div class="modal-body" style="max-height: 380px;overflow-y: auto;">
    <div class="alert alert-error">
        <p ng-bind-html="confirmation.message"></p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary gs-btn" ng-click="yes();">Yes</button>
    <button class="btn gs-btn" data-dismiss="modal" aria-hidden="true" ng-click="no();">No</button>
</div>
